

<launch>
    <rosparam file="$(find strelka_ros)/config/a1_full_pipeline.yaml" />

    <arg name="full_yaml_file" value="$(find strelka_ros)/config/a1_full_pipeline.yaml"/>
    <arg name="move_base_map" default="blank"/>

    <arg name="blind" value="$(eval 'blind:true' in open(arg('full_yaml_file'), 'r').read().replace(' ','').lower())"/>
    <arg name="perfect_odometry" value="$(eval 'perfect_odometry:true' in open(arg('full_yaml_file'), 'r').read().replace(' ','').lower())"/>
    <arg name="elevation_start_delay" default="3"/>

    <include file="$(find strelka_ros)/launch/a1_wbic_observer.launch">
        <arg name="perfect_odometry" value="$(arg perfect_odometry)"/>
    </include>
    
    <include file="$(find strelka_ros)/launch/a1_local_planner.launch">
        <arg name="blind" value="$(arg blind)"/>
        <arg name="elevation_start_delay" value="$(arg elevation_start_delay)"/>
    </include>
    
    <include file="$(find strelka_ros)/launch/a1_high_command_publisher.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find strelka_ros)/rviz/a1.rviz" />

    <group if="$(eval 'use_move_base:true' in open(arg('full_yaml_file'), 'r').read().replace(' ','').lower())">
        <include file="$(find strelka_ros)/launch/move_base.launch">
                <arg name="map_name" value="$(arg move_base_map)"/>
        </include>
    </group>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 /map /odom 100"/> 
</launch>
