<launch>
    <arg name="velocityX" default="0.0"/>
    <arg name="velocityY" default="0.0"/>
    <arg name="velocityYaw" default="0.0"/>

    <arg name="footHeight" default="0.08"/>
    <arg name="bodyHeight" default="0.26"/>
    
    <param name="velocityX"   type="double" value="$(arg velocityX)"/>
    <param name="velocityY"   type="double" value="$(arg velocityY)"/>
    <param name="velocityYaw" type="double" value="$(arg velocityYaw)"/>
    <param name="footHeight"  type="double" value="$(arg footHeight)"/>
    <param name="bodyHeight"  type="double" value="$(arg bodyHeight)"/>
    
    <node name="a1_high_command_publisher" pkg="strelka_ros" type="a1_high_command_publisher" output="screen"/>
</launch>