<launch> 

  <arg name="map_name" default="blank"/>

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <param name="controller_frequency" value="100.0"/>
    <rosparam file="$(find strelka_ros)/config/move_base/common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find strelka_ros)/config/move_base/common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find strelka_ros)/config/move_base/local_map.yaml" command="load" />
    <rosparam file="$(find strelka_ros)/config/move_base/global_map.yaml" command="load" />
    <rosparam file="$(find strelka_ros)/config/move_base/trajectory_planner.yaml" command="load" />
  </node>

  <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(find strelka_ros)/config/move_base/maps/$(arg map_name).yaml"/>

</launch>